<div class="btn-toolbar" role="toolbar">
  <li ng-show="me != null" class="btn-group" role="group" dropdown>
    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
      {{boardInfo.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Information</a></li>
      <li><a href="#">Sharing</a></li>
    </ul>
  </li>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" ng-model="drawingMode" btn-radio="0" title="Pencil">
      <i title="Pencil" class="fa fa-pencil"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-model="drawingMode" btn-radio="1" title="Line">
      <i title="Line" class="fa">/</i>
    </button>
    <button type="button" class="btn btn-primary" ng-model="drawingMode" btn-radio="2" title="Rectangle">
      <i title="Rectangle" class="fa fa-square-o"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-model="drawingMode" btn-radio="3" title="Ellipse">
      <i title="Ellipse" class="fa fa-circle-o"></i>
    </button>
    <button type="button" class="btn btn-primary" ng-model="drawingMode" btn-radio="4" title="Text">
      <i title="Text" class="fa fa-font"></i>
    </button>
  </div>

  <div class="btn-group" role="group">
    <button class="btn btn-primary" ng-style="{'background-color': color.foreground, color: color.foreground}"
            colorpicker="rgba" colorpicker-position="bottom"
            ng-model="color.foreground">
      <i title="Select" class="fa fa-square"></i>
    </button>
    <button class="btn btn-primary" ng-style="{'background-color': color.fill, color: color.fill}" colorpicker="rgba"
            colorpicker-position="bottom"
            ng-model="color.fill">
      <i title="Select" class="fa fa-square"></i>
    </button>
  </div>

  <div class="btn-group" role="group" style="float:right;">
    <button type="button" class="btn btn-primary" ng-click="closeBoard()" title="Close">
      <i title="Close" class="fa fa-times"></i>
    </button>
  </div>
</div>
<div id="virtualBoard"></div>
